version: 2
jobs:
  build:
    docker:
      - image: devdemisto/content-build:3.0.0.7332  # disable-secrets-detection
    resource_class: medium+
    parallelism: 2
    environment:
      CONTENT_VERSION: "20.6.0"
      SERVER_VERSION: "5.5.0"
      GIT_SHA1: "63646dff0fba977f91d6d9fc2d7fd233bfb5561b" # guardrails-disable-line disable-secrets-detection
    steps:
      - checkout
      - setup_remote_docker
      - restore_cache:
          key: venv-{{ checksum "dev-requirements-py2.txt" }}-{{ checksum "dev-requirements-py3.txt" }}-{{ checksum ".circleci/build-requirements.txt" }}-{{ checksum "package-lock.json" }}
      - run:
          name: Prepare Environment
          when: always
          command: |
            if [ -n "${INSTANCE_TESTS}" ] && [ $CIRCLE_NODE_INDEX -ne 0 ] ;
              then
                echo "Skipping - instance tests tasks are running only in container number 0"
                exit 0
            fi
            echo 'export CIRCLE_ARTIFACTS="/home/circleci/project/artifacts"' >> $BASH_ENV
            echo 'export PATH="/home/circleci/.local/bin:${PWD}/node_modules/.bin:${PATH}"' >> $BASH_ENV # disable-secrets-detection
            echo 'export PYTHONPATH="/home/circleci/project:${PYTHONPATH}"' >> $BASH_ENV
            echo 'export DEMISTO_README_VALIDATION=true' >> $BASH_ENV
            echo "=== sourcing $BASH_ENV ==="
            source $BASH_ENV
            sudo mkdir -p -m 777 $CIRCLE_ARTIFACTS
            chmod +x ./Tests/scripts/*
            chmod +x ./Tests/lastest_server_build_scripts/*
            if [ ! -e "venv" ]; then
              echo "installing venv"
              NO_HOOKS=1 SETUP_PY2=yes .hooks/bootstrap
              source ./venv/bin/activate
              pip install -r .circleci/build-requirements.txt
              pip3 install -r .circleci/build-requirements.txt
            else
              echo "venv exists (from cache). activating"
              source ./venv/bin/activate
            fi
            # Install node packages
            npm install .
            # store in bash env so we load our venv in each step
            echo 'source /home/circleci/project/venv/bin/activate' >> $BASH_ENV
            git config diff.renameLimit 6000

            echo "========== Build Parameters =========="
            echo "Parameters: NIGHTLY: $NIGHTLY, INSTANCE_TESTS: $INSTANCE_TESTS, NON_AMI_RUN: $NON_AMI_RUN, SERVER_BRANCH_NAME: $SERVER_BRANCH_NAME, ARTIFACT_BUILD_NUM: $ARTIFACT_BUILD_NUM"
            python --version
            python3 --version
            demisto-sdk --version
      - save_cache:
          paths:
            - venv
            - node_modules
          key: venv-{{ checksum "dev-requirements-py2.txt" }}-{{ checksum "dev-requirements-py3.txt" }}-{{ checksum ".circleci/build-requirements.txt" }}-{{ checksum "package-lock.json" }}
      - add_ssh_keys:
          fingerprints:
            - "02:df:a5:6a:53:9a:f5:5d:bd:a6:fc:b2:db:9b:c9:47" # disable-secrets-detection
            - "f5:25:6a:e5:ac:4b:84:fb:60:54:14:82:f1:e9:6c:f9" # disable-secrets-detection
      - run:
          name: Verify Base Branch for Contribution
          when: always
          command: |
            if [[ $CIRCLE_BRANCH =~ pull/[0-9]+ ]] ;
              then
                python3 ./Tests/scripts/verify_base_branch_for_contribution.py $CIRCLE_BRANCH
            fi
      - run:
          name: Prepare Content Packs For Testing
          when: always
          command: |
            if [ $CIRCLE_NODE_INDEX -ne 0 ] ;
              then
                echo 'Skipping - running only in container number 0.'
                exit 0;
            fi
            if [[ $CIRCLE_BRANCH =~ pull/[0-9]+ ]]; then
              echo "Skipping, Should not run on contributor's branch."
              exit 0
            fi
            ./Tests/scripts/prepare_content_packs_for_testing.sh
workflows:
  version: 2
  commit:
    jobs:
      - build
  instances_testing:
    # for details of triggered builds see https://circleci.com/docs/2.0/workflows/#nightly-example
    # for details of cron syntax see https://www.unix.com/man-page/POSIX/1posix/crontab/ disable-secrets-detection
    triggers:
      - schedule:
          # should trigger every day at 2 AM UTC (5 AM Israel Time)
          cron: "0 2 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: instances_test_env
  nightly:
    triggers:
      - schedule:
          # should trigger every day at 9 PM UTC (12 AM Israel Time)
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: nightly_env